/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial Narrow Bold, sans-serif;

}


/* Variables */
:root {
  --color-primario: #111111;
  --color-secundario: #6c63ff;
  --color-texto: #eeeeee;
/*    --color-fondo: #0D0110;  */                        /* #0E0126    ->0D0110;            */
   --color-acento: #272727; 
  --fuente-principal: Arial Narrow Bold, sans-serif;
}
/* html{
  background-color: var(--color-fondo); 
} */
/* Estilos base */
body {
  font-family: var(--fuente-principal);
  color: var(--color-texto);
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a {
  text-decoration: none;
  color: inherit;
}


.container {
  width: 100dvw; 
  padding: 0 1rem;
  display: flex;
}

/*! ----------------------------------------------------------- Header  */

.relative.z-50 {
  position: sticky;
  top: 0;
  max-height: 2vh;
  margin-top: 2vh;
}

/* Blur detrás del navbar */
.nav-blur {
  position: absolute;
  left: 49vh;
  top: 0;
  width: 50vw;
  height: 5vh;
  background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100%);
  z-index: 0;
  filter: blur(70px);
}

.nav-list li {
  position: relative;
  padding: 0;
  cursor: pointer;
  z-index: 1;
}

.nav-list li a {  display: block;  padding: 9px 30px; /* Más área sin afectar texto */
  text-decoration: none;
  color: white;
  z-index: 2;
  position: relative;
  color: #B0B0B0;                                             /* Gris claro */
  transition: color 0.3s ease;
}

.nav-list .span {
  position: absolute;
  top: 0px;
  left: 0;
  width: 115px;
height: 100%;
background-color: #4005ae;
transition: left 0.3s ease, border-radius 0.3s ease, opacity 0.5s ease-in-out; /* Agregado el delay */
z-index: 0;
opacity: 0; 
visibility:visible;                                       /* También lo ocultamos */
}

.nav-list li:nth-child(1):hover ~ .span {
  left: 0;
  border-radius: 30px 10px 10px 30px;
opacity: 1; 
visibility: visible; 
}

.nav-list li:nth-child(2):hover ~ .span {
  left: 123px;
  border-radius: 10px;
  opacity: 1;
  visibility: visible;
}


.nav-list li:nth-child(3):hover ~ .span {
left: 253px;
border-radius: 10px;
opacity: 1;
visibility: visible;
}

.nav-list li:nth-child(4):hover ~ .span {
left: 381px;
border-radius: 10px 30px 30px 10px;
opacity: 1;
visibility: visible;
}

.nav-list:hover .span {
opacity: 1;
visibility: visible;
}

.nav-list a:hover {
color: #FFFFFF;                                                  /* Blanco cuando pasa el mouse */
}

/*! ----------------------------------------------------------- */              /*     HERO    */

.hero-texto {
width: 100%;
height: 100%;
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
gap: 15px;
padding-left: 5px;
position: relative;
}

/*! ----------------------------------------------------------- */                                 /* TEXTO */
h2{
display: flex;
font-family: Arial Narrow Bold, sans-serif;
justify-content: start;
font-weight: normal;
}

.hero-tt{
  font-family: ancizar_serif;
  font-size: 3.2rem;

}

.punto{
  position: relative;
  top: 1.4vh;
  left: 3.5px;
  width: 5px;
  height: 5px;
  display: flex;
  justify-self: center;
  border-radius: 50%;
  padding: 3px;
  background-color: white;
}

.name{
font-family: hahmlet;
  font-size: 1.7rem;
  background-color: #fff;
}

h3 {
  font-weight: bold;
  position: relative;
  bottom: 15px;
display: flex;
justify-content: start;
text-align: start;
font-size: 45px;
font-family:Arial Narrow Bold, sans-serif;
background-color: #8B4EF9;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

p{
  font-family:Arial Narrow Bold,sans-serif;
display: flex;
text-align: start;
font-size: 1.2rem;
}
.blur-ring {
     background: linear-gradient(-60deg, #4f00b7, #3631c2, #1849c9, #005ccc, #036ccb); 
   filter: drop-shadow(0px 0px 25px #8B4EF9);
  z-index: -1;
  transition: spin 1s infinite;
background: transparent;
}

/*! ----------------------------------------------------------- */                                 /* BOTONES */
.botones{                        
  display: flex;
  justify-content: start;
  gap: 30px;
}

.perro {
    width: 19vh;
  height: 7vh;
  border-radius: 20px;
  padding: 5px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  background-image: linear-gradient(144deg,#00DDEB, #5B42F3 50%,#AF40FF);
  border-radius: 20vh;
}

button {                        
  cursor: pointer;
  font-family: hahmlet;
  font-weight: 700;
  padding: 0.75rem 1.5rem;
  border-radius: 30px;
  background: rgb(5, 6, 45);
  border: 1px solid #8B4EF9;
  box-shadow: rgba(151, 65, 252, 0.5) 0 15px 30px -5px;
  color: white;
  transition: background 0.4s ease-in-out, color 0.4s ease-in-out;
}
.perro2 {
  background-image: linear-gradient(144deg,#00DDEB, #5B42F3 50%,#AF40FF) ;
  width: 15.5vh;
  height: 7vh;
  border-radius: 20vh;
  padding: 5px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
}
/* No repitas transition aquí */
button:hover {
  background: transparent; /* usá un color similar al gradiente */
  color: #fff;
  border: none;
}

.btn-cta2:hover {
  background: transparent;
  border: none; /* otro tono del gradiente */
}


/*! ------------------------------------------------------------ */                         /* ! Parte derecha HERO */
.hero-imagen{   
/*   border: 1px solid greenyellow;   */                                                                   
  width: 100vh;
  overflow: hidden;
}
.img1{
  height: 50vh; 
  object-fit: cover;
  position: relative;
  top: 3vh;
}

/*! ----------------------------------------------- */                       /* ABOUT */
.about-container{
  width: 100%;
  position: relative;
  height: 82vh;
  border: 1px solid red;
}
.about-tt{
  font-family: ancizar_serif;
}

.txt-abt{
  display: block;
  align-self: center;
  position: absolute;
  width: 70vh;
  height: auto;
  overflow: hidden;
  top: 25vh;
  font-size: 1.3rem;
  font-family: hahmlet;
}

/* .gato{
  width: 30vh;
  height: 30vh;
  position: absolute;
  top: 100vh;
  left: 52vh;
  border-radius: 50%;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  animation: move 2.5s ease-in-out infinite;
} */
.resaltado{
  color: #8B4EF9;
  box-shadow: 0 0 1px 0 #8B4EF9;
  font-family: hahmlet;
}
.linea{
  border: 1px solid red;
  position: relative;
  width: 270px;
  height: 7px;
  box-shadow:
  0 0 5px #8B4EF9,
  0 0 10px #8B4EF9,
  0 0 20px #8B4EF9,
  0 0 40px #8B4EF9;
  bottom: 560px;
  left: 114vh;
  background-color: #8B4EF9;
}


/*! --------------PROYECTOS */
/*! --------------PROYECTOS */
/*! --------------PROYECTOS */
/*! --------------PROYECTOS */
/*! --------------PROYECTOS */
/*! --------------PROYECTOS */
/*! --------------PROYECTOS */

.card {
  position: relative;
  width: 190px;
  height: 254px;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 12px;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
}

.card::before {
  content: '';
  position: absolute;
  inset: 0;
  left: -5px;
  margin: auto;
  width: 200px;
  height: 264px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% );
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100% );
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}

.heading {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 700;
}

.card p:not(.heading) {
  font-size: 14px;
}

.card p:last-child {
  color: #e81cff;
  font-weight: 600;
}

.card:hover::after {
  filter: blur(30px);
}

.card:hover::before {
  transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
}

.imagede{
  width: 30vh;
  margin-right: 1em;
  animation: move 2.5s ease-in-out infinite;}
  @keyframes move {
    0% { transform: translateY(0); }
    50% { transform: translateY(-30px); }
    100% { transform: translateY(0); }
  } 

.astron{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vh;
  height: 60vh;
  opacity: 70%;
}

.logo{
  animation: spin 10s infinite ;
}
@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}