/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial Narrow Bold, sans-serif;

}


/* Variables */
:root {
  --color-primario: #111111;
  --color-secundario: #6c63ff;
  --color-texto: #eeeeee;
/*    --color-fondo: #0D0110;  */                        /* #0E0126    ->0D0110;            */
   --color-acento: #272727; 
  --fuente-principal: Arial Narrow Bold, sans-serif;
}
/* html{
  background-color: var(--color-fondo); 
} */
/* Estilos base */
body {
  font-family: var(--fuente-principal);
  color: var(--color-texto);
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a {
  text-decoration: none;
  color: inherit;
}


.container {
  width: 100dvw; 
  padding: 0 1rem;
  display: flex;
}

/*! ----------------------------------------------------------- Header  */

.relative.z-50 {
  position: sticky;
  top: 0;
  max-height: 2vh;
  margin-top: 2vh;
}

/* Blur detrás del navbar */
.nav-blur {
  position: absolute;
  left: 49vh;
  top: 0;
  width: 50vw;
  height: 5vh;
  background: linear-gradient(-45deg, #4f00b7 0%, #40c9ff 100%);
  z-index: 0;
  filter: blur(70px);
}

.nav-list li a {
  display: block;  
  padding: 1vh 2.5vh;
  text-decoration: none;
  color: white;
  z-index: 2;
  position: relative;
  background: none !important;
  overflow: hidden;
  color: white;                                             /* Gris claro */
  transition: color 0.3s;
}

.nav-list li a::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 2vh;
  z-index: 1;
  opacity: 0;
  background: linear-gradient(144deg,#00DDEB, #5B42F3 50%,#4f00b7);
  transition: opacity 0.3s;
}

.nav-list li a:hover::after,
.nav-list li a:focus::after {
  opacity: 1;
}

.nav-list li:nth-child(1):hover ~ .span {
  left: 0;
  border-radius: 30px 10px 10px 30px;
opacity: 1; 
visibility: visible; 
}

.nav-list li:nth-child(2):hover ~ .span {
  left: 123px;
  border-radius: 10px;
  opacity: 1;
  visibility: visible;
}


.nav-list li:nth-child(3):hover ~ .span {
left: 253px;
border-radius: 10px;
opacity: 1;
visibility: visible;
}

.nav-list li:nth-child(4):hover ~ .span {
left: 381px;
border-radius: 10px 30px 30px 10px;
opacity: 1;
visibility: visible;
}

.nav-list:hover .span {
opacity: 1;
visibility: visible;
}

.nav-list a:hover {
color: black;                                                  
background: none !important;
}

/*! ----------------------------------------------------------- */              /*     HERO    */

.hero-texto {
width: 100%;
height: 100%;
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
gap: 15px;
padding-left: 5px;
position: relative;
}

/*! ----------------------------------------------------------- */                                 /* TEXTO */
h2{
display: flex;
font-family: Arial Narrow Bold, sans-serif;
justify-content: start;
font-weight: normal;
}

.hero-tt{
  font-family: ancizar_serif;
  font-size: 3.3rem;

}

.punto{
  position: relative;
  top: 2.4vh;
  left: 0.5vh;
  width: 5px;
  height: 5px;
  display: flex;
  justify-self: center;
  border-radius: 50%;
  padding: 3px;
  background-color: white;
}

.name{
font-family: hahmlet;
  font-size: 1.8rem;
  background-color: #fff;
}

h3 {
  font-weight: bold;
  position: relative;
  bottom: 15px;
display: flex;
justify-content: start;
text-align: start;
font-size: 45px;
font-family:Arial Narrow Bold, sans-serif;
background-color: #8B4EF9;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

p{
  font-family:Arial Narrow Bold,sans-serif;
display: flex;
text-align: start;
font-size: 1.2rem;
}
.blur-ring {
     background: linear-gradient(-60deg, #4f00b7, #3631c2, #1849c9, #005ccc, #036ccb); 
   filter: drop-shadow(0px 0px 25px #8B4EF9);
  z-index: -1;
  transition: spin 1s infinite;
background: transparent;
}

/*! ----------------------------------------------------------- */                                 /* BOTONES */
.botones{                        
  display: flex;
  justify-content: start;
  gap: 30px;
}

.perro {
    width: 19vh;
  height: 7vh;
  border-radius: 20px;
  padding: 5px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  background-image: linear-gradient(144deg,#00DDEB, #5B42F3 50%,#AF40FF);
  border-radius: 20vh;
}

button {                        
  cursor: pointer;
  font-family: hahmlet;
  font-weight: 700;
  padding: 0.75rem 1.5rem;
  border-radius: 30px;
  background: rgb(5, 6, 45);
  border: 1px solid #8B4EF9;
  box-shadow: rgba(151, 65, 252, 0.5) 0 15px 30px -5px;
  color: white;
  transition: background 0.4s ease-in-out, color 0.4s ease-in-out;
}
.perro2 {
  background-image: linear-gradient(144deg,#00DDEB, #5B42F3 50%,#AF40FF) ;
  width: 15.5vh;
  height: 7vh;
  border-radius: 20vh;
  padding: 5px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
}

button:hover {
  background: transparent; 
  color: #fff;
  border: none;
}

.btn-cta2:hover {
  background: transparent;
  border: none; /* otro tono del gradiente */
}


/*! ------------------------------------------------------------ */                         /* ! Parte derecha HERO */
.hero-imagen{   
/*   border: 1px solid greenyellow;   */                                                                   
  width: 100vh;
  overflow: hidden;
}
.img1{
  height: 50vh; 
  object-fit: cover;
  position: relative;
  top: 3vh;
}

/*! ----------------------------------------------- */                       /* ABOUT */
.about-container{
  width: 100%;
  position: relative;
  height: 140vh;
}
.about-tt{
  background: linear-gradient(-45deg, #AF40FF 5%, #40c9ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-family: ancizar_serif;
  font-style: italic;
}

.txt-abt{
  display: block;
  align-self: center;
  position: absolute;
  width: 70vh;
  height: auto;
  overflow: hidden;
  top: 25vh;
  font-size: 1.3rem;
  color: #677381;
  font-family: serif;  
}

.gato{
  width: 30vh;
  height: 30vh;
  position: absolute;
  top: 109vh;
  left: 52vh;
  border-radius: 50%;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  animation: move 2.5s ease-in-out infinite;
}
.resaltado{
  color: #8B4EF9;
  box-shadow: 0 0 1px 0 #8B4EF9;
  font-family: hahmlet;
}







/*! EXPERIENCIA */

.exp-tt{
  background: linear-gradient(-45deg, #AF40FF 0%, #40c9ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  display: flex;
  width: 55vh;
  font-size: 3.5rem;
/*   border: 1px solid red;  */ 
height: auto;
/*   color: transparent; */
  font-family: ancizar_serif;

}
.m2 {
  position: relative;
  border-radius: 20px;
  width: 40vmin; 
  height: 30vmin; 
  background: linear-gradient(135deg, #1e1e24 10%, #050505 60%);
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  animation: gradient-shift 5s ease-in-out infinite; 
  background-size: 200% 200%;
}

.m2::before,
.m2::after {
  --size: 5px; 
  content: "";
  position: absolute;
  border-radius: 20px;
  top: calc(var(--size) / -2);
  left: calc(var(--size) / -2);
  width: calc(100% + var(--size));
  height: calc(100% + var(--size));
  background: radial-gradient(circle at 0 0, hsl(187, 99%, 34%), transparent),
    radial-gradient(circle at 100% 0, #6500ff, transparent),
    radial-gradient(circle at 0 100%, #00DDEB, transparent),
    radial-gradient(circle at 100% 100%, #6500ff, transparent);
}

.m2::after {
  --size: 2px;
  z-index: -1;
}

.m2::before {
  --size: 10px; 
  z-index: -2;
  filter: blur(3vmin); 
  animation: blur-animation 3s ease-in-out alternate infinite; /
}


@keyframes blur-animation {
  to {
    filter: blur(5vmin);
    transform: scale(1.05);
  }
}


@keyframes gradient-shift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.exp-txt{
  font-size: 1.3rem;
}
.exp-txt-one{
  font-size: 1.5rem;
}







/*! --------------PROYECTOS */
/*! --------------PROYECTOS */
/*! --------------PROYECTOS */
/*! --------------PROYECTOS */
/*! --------------PROYECTOS */
/*! --------------PROYECTOS */
/*! --------------PROYECTOS */

.card {
  position: relative;
  width: 34vh;
  height: 42vh;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 12px;
  gap: 8vh;
  border-radius: 8px;
  cursor: pointer;
}

.card::before {
  content: '';
  position: absolute;
  inset: 0;
  left: -1.6vh;
  margin: auto;
  width: 37vh;
  height: 44vh;
  border-radius: 10px;
/*   background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% ); */
background: linear-gradient(to right, #40c9ff, #00b3fa, #009bf3, #0083e9, #0069db, #0458cd, #0f47bf, #1835b0, #1f2aa2, #231e95, #251187, #25007a);
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card::after {
  content: "";
  width: 35vh;
  z-index: -1;
  position: absolute;
  inset: 0;
/*   background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100% ); */
background: linear-gradient(to right, #40c9ff, #00b3fa, #009bf3, #0083e9, #0069db, #0458cd, #0f47bf, #1835b0, #1f2aa2, #231e95, #251187, #25007a);

  transform: translate3d(0, 0, 0) scale(1);
  filter: blur(3vh);
}


.card p:not(.heading) {
  font-size: 14px;
}

.card p:last-child {
  color: #e81cff;
  font-weight: 600;
}

.card:hover::after {
  filter: blur(30px);
}

.card:hover::before {
  transform: rotate(-180deg) scaleX(1) scaleY(1);
}

.imagede{
  width: 30vh;
  margin-right: 1em;
  animation: move 2.5s ease-in-out infinite;}
  @keyframes move {
    0% { transform: translateY(0); }
    50% { transform: translateY(-30px); }
    100% { transform: translateY(0); }
  } 


.logo{
  animation: spin 10s infinite ;
}
@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}





