/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial Narrow Bold, sans-serif;

}


/* Variables */
:root {
  --color-primario: #111111;
  --color-secundario: #6c63ff;
  --color-texto: #eeeeee;
   --color-fondo: #0D0110;                         /* #0E0126    ->0D0110;            */
   --color-acento: #272727; 
  --fuente-principal: Arial Narrow Bold, sans-serif;
}
html{
  background-color: var(--color-fondo); 
}

/* Estilos base */
body {
  font-family: var(--fuente-principal);
  background-color: var(--color-fondo); 
  color: var(--color-texto);
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
}


.container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  padding: 0 1rem;
}

/* !Header  */
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  z-index: 1;
}

.nav {
  margin: 0 auto;
}
.logo{
  position: relative;
  left: 15px;
  width: 70px;
  max-height: 55px;
  object-fit: cover; 
}

.imglogo{
  position: relative;
  background-color: #6c63ff;
  width: 60px;
  height: 100%;
  border-radius: 15%;
} 

.nav-list {
  display: flex;
  gap: 0;
  list-style: none;
  background-color: #272727;
  
  padding: 0;
  border-radius: 30px;
  font-size: 0.9rem;
  margin: 0 auto;
  position: relative;
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 255);
}

.nav-list li {
  position: relative;
  padding: 0;
  cursor: pointer;
  z-index: 1;
}

.nav-list li a {  display: block;  padding: 9px 30px; /* Más área sin afectar texto */
text-decoration: none;
color: white;
z-index: 2;
position: relative;
color: #B0B0B0;                                             /* Gris claro */
transition: color 0.3s ease;
}

.nav-list .span {
position: absolute;
top: 0px;
left: 0;
width: 115px;
height: 100%;
background-color: #4005ae;
transition: left 0.3s ease, border-radius 0.3s ease, opacity 0.5s ease-in-out; /* Agregado el delay */
z-index: 0;
opacity: 0; 
visibility:visible;                                       /* También lo ocultamos */
}

.nav-list li:nth-child(1):hover ~ .span {
left: 0;
border-radius: 30px 10px 10px 30px;
opacity: 1; 
visibility: visible; 
}

.nav-list li:nth-child(2):hover ~ .span {
left: 123px;
border-radius: 10px;
opacity: 1;
visibility: visible;
}

.nav-list li:nth-child(3):hover ~ .span {
left: 253px;
border-radius: 10px;
opacity: 1;
visibility: visible;
}

.nav-list li:nth-child(4):hover ~ .span {
left: 381px;
border-radius: 10px 30px 30px 10px;
opacity: 1;
visibility: visible;
}

.nav-list:hover .span {
opacity: 1;
visibility: visible;
}

.nav-list a:hover {
color: #FFFFFF;                                                  /* Blanco cuando pasa el mouse */
}





/*! ----------------------------------------------------------- */              /*     HERO    */


.hero {
position: relative;
width: 100%;
max-height: 1000px;
display: flex;
padding: 30px;
z-index: 1;

/* border: 1px solid red; */
margin-bottom: 50px;
}

.hero-container {
position: relative; 
width: 100%;
height: 600px;
display: flex;
z-index: 1;
border-radius: 45px;
/* border: 1px solid red; */
overflow: hidden;
}

.hero-texto {
width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
gap: 15px;
position: relative;
bottom: 50px;
}

/*! ----------------------------------------------------------- */                                 /* TEXTO */
h2{
display: flex;
font-family: Arial Narrow Bold, sans-serif;
justify-content: start;
font-weight: normal;
}

.punto{
  position: relative;
  top: 14px;
  left: 3.5px;
  width: 5px;
  height: 5px;
  display: flex;
  justify-self: center;
  border-radius: 50%;
  padding: 3px;
  background-color: #8B4EF9;
}

.name{
  position: relative;
  bottom: 10px;
  font-size: 1.5rem;
  justify-content: start;
  background-color: #fff;
}

h3 {
  font-weight: bold;
  position: relative;
  bottom: 15px;
display: flex;
justify-content: start;
text-align: start;
font-size: 45px;
font-family:Arial Narrow Bold, sans-serif;
background-color: #8B4EF9;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

p{
  font-family:Arial Narrow Bold,sans-serif;
display: flex;
text-align: start;
font-size: 1.2rem;
}

/*! ----------------------------------------------------------- */                                 /* BOTONES */
.botones{
  display: flex;
  justify-content: start;
  gap: 30px;
}

button {
  cursor: pointer;
  font-family: Arial Narrow Bold, sans-serif;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 0.3rem;
  background-color: var(--color-secundario);
  color: #fff;
  transition: background-color 0.3s ease;
}

.btn-cta2{
  background-color: #272727;
  border: 1px solid #8B4EF9;
}

button:hover {
  background-color: var(--color-acento);
  border: 1px solid #8B4EF9;

}
.btn-cta2:hover{
  background-color: #6c63ff;
}

/*! ------------------------------------------------------------ */                         /* ! Parte derecha HERO */
.hero-imagen{                                                                          
  width: 100%;
  height: auto;
  border-radius: 1rem;
  overflow: hidden;
}

.img1{
  height: 45vh; 
  object-fit: cover;

}

/*! ----------------------------------------------------------- */                                  /* BLUR */


.blur-th{
  position: absolute;
  width: 380px;
  height: 400px;
   background-color: #8B4EF9; 
  left: 750px;
  top: 100px;
  filter: blur(90px);
}
.blur-ring{                              /*! Ajustar medidas mas chica o mas grande */
  position: absolute;
  width: 30rem;
  height: 45vh;
   background-color: #8B4EF9; 
  left: 700px;
  top: 29px;
  border-radius: 50%;
   background: transparent; 
  border:25px solid #8B4EF9;
  filter: brightness(1.01);
  overflow: hidden;
}

/*! ----------------------------------------------- */                       /* ABOUT */
.about-container{
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: end;
  align-items: top;
  flex-wrap: wrap;
  border: 1px solid red;
}

.blur-sec{
position: absolute;
left: 80px;
bottom: -220px;
width: 300px;
height: 400px;
background-color: #8B4EF9;                
filter: blur(60px);
}
.about{
  font-size: 3.2rem;
  width: 250px;
  height: 7vh;position: relative;
  left: 30vw;
}

.txt-abt{
  display: block;
  align-self: center;
  position: relative;
  right: 4vw;
  width: 600px;
  height: 180px;
  overflow: hidden;
  top: 4vh;
}
.txt-sec{
  font-size: 1.2rem;
  position: relative;
  bottom: 5vh;
  transform: translateY(-90px);
}

.resaltado{
  color: #8B4EF9;
  box-shadow: 0 0 1px 0 #8B4EF9;
}
.linea{
  position: relative;
  width: 270px;
  height: 7px;
  box-shadow:
  0 0 5px #8B4EF9,
  0 0 10px #8B4EF9,
  0 0 20px #8B4EF9,
  0 0 40px #8B4EF9;
  bottom: 560px;
  left: 930px;
  background-color: #8B4EF9;
}

.animation{
  width: 400px;
  height: 300px;
  position: relative;
  bottom: 520px;
  left: 25px;
}

/*! --------------PROYECTOS */
.proyectos {
  padding: 2rem;
  text-align: center;
  border: 1px solid red;
  position: relative;
  bottom: 300px;
}

.cards-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.card {
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  width: 300px;
}